/* Body */
body {
  margin: 0;
  background-color: grey;
}

/* Div */
div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Header */
header {
  height: 145px;
  background-color: skyblue;
  padding-top: 15px;
}
h1 {
  margin-left: 35px;
  margin-top: 0;
  padding: 5px;
}
ul li {
  display: inline-block;
  text-align: center;
}
ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 12px 24px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(4, 190, 237);
  border-radius: 10px;
}
ul li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
ul li a:hover {
  background-color: rgb(8, 0, 255);
  color: rgb(255, 255, 255);
}

/* Footer */
footer {
  height: 75px;
  background-color: skyblue;
  padding-top: 30px;
  margin-top: 15px;
  padding-left: 15px;
}

/* index.html */
#div-home {
  background-color: rgb(4, 190, 237);
}
#div-home p {
  text-align: justify;
}
#Fotovanmij {
  height: 150px;
  width: 150px;
}

/* mijncv.html */
#div-mijncv {
  background-color: blueviolet;
}
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 400px;
}
td,
th {
  padding: 10px 10px;
  background-color: rgb(4, 190, 237);
  text-align: center;
  border: 2px solid black;
}

/* contact.html */
#div-contact {
  background-color: red;
}
input[type="text"],
input[type="email"],
textarea,
button {
  display: block;
  margin: 15px 0px;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
textarea {
  height: 200px;
}
button:active {
  background-color: rgb(8, 0, 255);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}